body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_galleryPhotoGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#galleryPhotoGrid
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#galleryPhotoGrid > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#galleryPhotoGrid > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#galleryPhotoGrid > .row > .col-1
{
   float: left;
}
#galleryPhotoGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#galleryPhotoGrid:before,
#galleryPhotoGrid:after,
#galleryPhotoGrid .row:before,
#galleryPhotoGrid .row:after
{
   display: table;
   content: " ";
}
#galleryPhotoGrid:after,
#galleryPhotoGrid .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#galleryPhotoGrid > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#gallery
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#gallery .thumbnails
{
   margin: 0;
}
#gallery .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   padding: 10px 10px 10px 10px;
   width: 25%;
   text-align: center;
   vertical-align: top;
}
#gallery .caption
{
   color: #969696;
   font-family: Arial;
   font-weight: bold;
   font-size: 15px;
   font-style: normal;
   margin: 0;
   text-align: left;
   text-decoration: none;
   padding: 8px 0px 8px 0px;
   position: relative;
}
#gallery .description
{
   color: #969696;
   font-weight: normal;
   font-size: 12px;
   font-style: normal;
   text-align: left;
}
#gallery .thumbnail a
{
   display: block;
   position: relative;
}
#gallery .thumbnail a:hover .caption
{
   opacity: 0.78
}
#gallery .thumbnail img
{
   border: 0px #DDDDDD solid;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
   border-radius: 0px;
}
#gallery .clearfix:before,
#gallery .clearfix:after,
#gallery .thumbnails:before,
#gallery .thumbnails:after
{
   display: table;
   content: " ";
}
#gallery .clearfix:after,
#gallery .thumbnails:after
{
   clear: both;
}
#gallery .visible-col4
{
   display: block;
}
#gallery .visible-col2
{
   display: none;
}
#gallery .visible-col1
{
   display: none;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0px 0px 20px 0px;
   text-align: center;
}
#Heading1
{
   color: #888888;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#wb_gallery
{
   display: inline-block;
   width: 100%;
   z-index: 1;
}
#wb_Heading1
{
   display: inline-block;
   width: 100%;
   z-index: 0;
}
@media only screen and (min-width: 768px) and (max-width: 969px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#BuildWith1
{
   left: 441px;
   top: 967px;
   width: 88px;
   height: 31px;
   visibility: visible;
   display: inline;
}
#wb_galleryPhotoGrid
{
   visibility: visible;
   display: table;
}
#wb_galleryPhotoGrid
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#galleryPhotoGrid
{
   padding: 25px 15px 25px 15px;
}
#galleryPhotoGrid .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#wb_gallery
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   color: #969696;
}
#gallery .thumbnail
{
   width: 50%;
}
#gallery .visible-col4
{
   display: none;
}
#gallery .visible-col2
{
   display: block;
}
#gallery .visible-col1
{
   display: none;
}
#wb_Heading1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0px 0px 20px 0px;
}
}
@media only screen and (max-width: 767px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#BuildWith1
{
   left: 441px;
   top: 967px;
   width: 88px;
   height: 31px;
   visibility: visible;
   display: inline;
}
#wb_galleryPhotoGrid
{
   visibility: visible;
   display: table;
}
#wb_galleryPhotoGrid
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#galleryPhotoGrid
{
   padding: 25px 15px 25px 15px;
}
#galleryPhotoGrid .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#wb_gallery
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   color: #969696;
}
#gallery .thumbnail
{
   width: 100%;
}
#gallery .visible-col4
{
   display: none;
}
#gallery .visible-col2
{
   display: none;
}
#gallery .visible-col1
{
   display: block;
}
#wb_Heading1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0px 0px 20px 0px;
}
}
